* {
  box-sizing: border-box;
}

h1 {
text-align: center;
font-size: 80px;
}

h2{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: -10px;
  font-size: 20px;
}

body{
  font-family: 'Press Start 2P';
  background-image: url('/Users/walazeidan/Desktop/development/projects/Project-One/pics/Background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

#start {
  text-align: center;
  font-family:'Press Start 2P';
  padding: 20px;
	display: inline-block;
  font-weight: bold;
  background-color: lightgray;
  text-align: center;
  font-weight: bold;
  width: 100px; 
  border-radius: 20%;
  margin-left: 100px;
  margin-top: -200px;
  cursor:pointer; 
}

#start:hover {
  background-image: url('/Users/walazeidan/Desktop/development/projects/Project-One/pics/Background.png');
}

#restart:hover {
  background-image: url('/Users/walazeidan/Desktop/development/projects/Project-One/pics/Background.png');
}

#restart {
  text-align: center;
  font-family:'Press Start 2P';
  padding: 20px 4px;
	display: inline-block;
  font-weight: bold;
  background-color: lightgray;
  text-align: center;
  font-weight: bold;
  width: 100px; 
  border-radius: 20%;
  margin-left: 100px;
  margin-top: -200px;
  cursor:pointer; 
  margin-bottom: 60px;


}

#button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  cursor: pointer; 
  
} 

.grid-wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid{
  align-items: center;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    height: 600px;
    width: 600px;
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 50px;
    margin-top: -30px;
    /* color: rgba(0,0,0,0) */
}



.grid div{
  width: calc(100% / 11);
  height: 10%;
}

.frog{
  background-image: url('/Users/walazeidan/Desktop/development/projects/Project-One/pics/Fall (32x32).png');
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.heron {
  background-image: url('/Users/walazeidan/Desktop/development/projects/Project-One/pics/heron.png');
  background-size: 400%;
  background-position: center;
  background-repeat: no-repeat;
}

.rock {
  background-image: url('/Users/walazeidan/Desktop/development/projects/Project-One/pics/rock.png');
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;

}

.boat {
  background-image: url('/Users/walazeidan/Desktop/development/projects/Project-One/pics/boats 2.png');
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
}

.boat2 {
  background-image: url('/Users/walazeidan/Desktop/development/projects/Project-One/pics/boat.png');
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
}

.frog-catcher {
  background-image: url('/Users/walazeidan/Desktop/development/projects/Project-One/pics/frog catcher.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

}

.fumes {
  background-image: url('/Users/walazeidan/Desktop/development/projects/Project-One/pics/final_612a43acaa5cef014a0b9e59_958750.png');
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
}

.squirrel-right {
  background-image: url('/Users/walazeidan/Desktop/development/projects/Project-One/pics/RIGHT squirrel.png');
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
}

.squirrel-left {
  background-image: url('/Users/walazeidan/Desktop/development/projects/Project-One/pics/squirrel to the left.png');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

.lily-pad {
  background-image: url('/Users/walazeidan/Desktop/development/projects/Project-One/pics/lily pad.png');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;

}

.gameover {
    /*box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
    height: 100%;
    background-color: rgb(0, 0, 0, 0.2);*/
  font-size: 30px;
  border-radius: 50px;
  margin-top: -15px; 
  display: none;
  position: fixed;
  top: 200px;
  left: 400px;
  width: 650px;
  height: 560px;
  background-image: url('/Users/walazeidan/Desktop/development/projects/Project-One/pics/Background.png');
  /* background-position: center; */
  /* background-repeat: no-repeat; */

}

.gameover.show {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}